<div class="col-sm-12">
    <div class="card">
        <img class="card-img-top" src="__CHANGEME__" id="siema-image">
        <div class="card-block">
            <h4 class="card-title mt-3"><span id="siema-title">To be replaced</span></h4>
            <div class="meta">
                <a>Producto</a>
            </div>
            <div class="card-text"><span id="siema-description">To be replaced</span></div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-dark btn-twitter btn-sm" style="border-radius: 50%;margin-top: 5px" onclick="productLike()"><i class="material-icons" style="font-size: 14px">thumb_up_alt</i></button>
                </div>
                <div class="col-sm-4 text-center" style="margin-top: 5px"><span class="siema-current-slide">1</span> de <span class="total-slides">0</span> productos</div>
                <div class="col-sm-4">
                    <button class="btn btn-dark btn-twitter btn-sm pull-right" style="border-radius: 50%;margin-top: 5px" onclick="productDislike()"><i class="material-icons" style="font-size: 14px">thumb_down_alt</i></button>
                </div>
            </div>
        </div>
    </div>
</div>