<div class="tab-pane" id="products">
    <h4 class="info-text">What are you doing? (checkboxes) </h4>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-12 col-sm-offset-4 col-sm-4">
                <div class="siema">
                    <div>Hi, I'm slide 1</div>
                    <div>Hi, I'm slide 2</div>
                    <div>Hi, I'm slide 3</div>
                    <div>Hi, I'm slide 4</div>
                </div>
            </div>
        </div>
    </div>
</div>