<div class="tab-pane" id="user">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="info-text">Complete con todos sus datos: </h4>
        </div>
        <div class="col-sm-3">
            <div class="form-group label-floating">
                <label class="control-label">Apellido<small>(Obligatorio)</small></label>
                <input name="Apellido" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group label-floating">
                <label class="control-label">Nombre<small>(Obligatorio)</small></label>
                <input name="Nombre"  type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group label-floating">
                <label class="control-label">Email<small>(Obligatorio)</small></label>
                <input type="email" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group label-floating">
                <label class="control-label">Direccion<small>(Obligatorio)</small></label>
                <input name="Direccion" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label">Ciudad<small>(Obligatorio)</small></label>
                <input name="Ciudad" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group label-floating">
                <label class="control-label">C.P.<small>(Obligatorio)</small></label>
                <input name="Code" type="number" min="0" class="form-control">
            </div>
        </div>
    </div>