<div class="tab-pane" id="user">
    <div class="row">
        <!--<div class="col-sm-12">
            <h4 class="info-text">Complete con todos sus datos: </h4>
        </div>-->
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">assignment_ind</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">DNI <small>(Obligatorio)</small></label>
                    <input name="DNI" type="text" class="form-control">
                </div>
                </div>
            </div>
            <div class="col-sm-2">
                <button type='button' class='btn btn-finish btn-fill btn-info btn-sm' onclick="validateDNI($('[name=\'DNI\']').val())">
                    Validar
                </button>
            </div>
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Email <small>(Obligatorio)</small></label>
                        <input type="email" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">contacts</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Apellido <small>(Obligatorio)</small></label>
                        <input name="lastname" type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">contacts</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Nombre <small>(Obligatorio)</small></label>
                        <input name="name" type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">place</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Direccion <small>(Obligatorio)</small></label>
                        <input name="address" type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">location_city</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Ciudad <small>(Obligatorio)</small></label>
                        <input name="city" type="text" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">local_post_office</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">C.P.<small>(Obligatorio)</small></label>
                        <input name="postalCode" type="number" min="0" class="form-control" disabled>
                    </div>
                </div>

            </div>
        </div>
</div>