<div class="tab-pane" id="voucher">
    <div class="row">
        <h4 class="info-text">Ingrese su codigo de voucher:</h4>
        <%--<div class="col-sm-4 col-sm-offset-1">
            <div class="picture-container">
                <div class="picture">
                    <img src="Content/Images/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                    <input type="file" id="wizard-picture">
                </div>
                <h6>Choose Picture</h6>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">face</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">First Name <small>(required)</small></label>
                    <input name="firstname" type="text" class="form-control">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">record_voice_over</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Last Name <small>(required)</small></label>
                    <input name="lastname" type="text" class="form-control">
                </div>
            </div>
        </div>--%>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">done</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Voucher <small>(required)</small></label>
                    <input name="voucher" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>